<!-- About Section -->
<section class="success" id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>About</h2>
        <hr class="star-light">
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4 col-lg-offset-2">
        <p>이곳은 프로그래밍 학습자들을 위한 곳입니다.
          이 자료는 이론적인 내용을 기반으로 제작되어 있습니다.
          만약 더 수준 높은 내용을 학습하시려면 다른 서비스를 이용하시기 바랍니다.
          우리의 목표는 프로그래밍을 배우거나 기존의 기술을 향상시키고자 하는 모든 분들에게 유익한 교육 자료를 제공하는 것입니다.
          이곳에서 다양한 프로그래밍 언어와 기술에 대한 학습 자료를 찾을 수 있습니다.
        </p>
      </div>
      <div class="col-lg-4">
        <p>
          Unity를 이용한 게임 개발부터 Spring Boot 프레임워크를 이용한 웹 개발까지 업데이트 중입니다.
          기본 문법으로도 Python, Java, C, C++, C# 등의 언어에 대한 자료까지 다양하게 준비되어 있습니다.
          이곳에서는 여러분이 프로그래밍을 전반적으로 이해하고 응용하는 데 도움이 될 것입니다.
          이곳을 통해 새로운 기술을 배우고, 여러분의 프로그래밍 능력을 향상시키길 바랍니다. </p>
      </div>
      <div class="col-lg-8 col-lg-offset-2 text-center">
        <a href="https://github.com/Devcurve" class="btn btn-lg btn-outline">
          <i class="fa fa-download"></i> GitHub로 이동
        </a>
      </div>
    </div>
  </div>
</section>
