<!-- community Section -->
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Welcome Page</title>
    <link rel="stylesheet" href="./css/community_styles.css">
    <script src="../js/community_scripts.js" defer></script>

</head>
<body>
<section class="success" id="community">
    <div id="leftControl" class="slide-control"><<</div>
    <div id="slider">
        <div class="post-container">
            <div id="post-container" class="post-container">
                <!-- Posts will be inserted here by JavaScript -->
            </div>
            <!-- Repeat for other posts -->
        </div>
    </div>
    <div id="rightControl" class="slide-control">>></div>
</section>
</body>
</html>