<!-- community Section -->
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Welcome Page</title>
    <link rel="stylesheet" href="./css/community_styles.css">
    <script src="../js/community_scripts.js" defer></script>

</head>
<body>
<section id="community">
    <div id="leftControl" class="slide-control"><<</div>
    <div id="slider">
        <div class="post">
            <img src="https://via.placeholder.com/150" alt="Post Image">
            <div class="post-content">
                <h2>Post 1</h2>
                <p>Description for post 1...</p>
                <div class="post-description">
                    <img class="stars" src="../img/community/star-solid.svg" alt="Full Star">
                    <img class="stars" src="../img/community/star-solid.svg" alt="Full Star">
                    <img class="stars" src="../img/community/star-solid.svg" alt="Half Star">
                    <img class="stars" src="../img/community/star-regular.svg" alt="Empty Star">
                    <img class="stars" src="../img/community/star-regular.svg" alt="Empty Star">
                </div>
                <p>Price: $50</p>
                <p>Recommendations: 10</p>
            </div>
        </div>


        <div class="post">
            <img src="https://via.placeholder.com/150" alt="Post Image">
            <div class="post-content">
                <h2>Post 2</h2>
                <p>Description for post 1...</p>
                <div class="post-description">
                    <img class="stars" src="../img/community/star-solid.svg" alt="Full Star">
                    <img class="stars" src="../img/community/star-solid.svg" alt="Full Star">
                    <img class="stars" src="../img/community/star-solid.svg" alt="Half Star">
                    <img class="stars" src="../img/community/star-regular.svg" alt="Empty Star">
                    <img class="stars" src="../img/community/star-regular.svg" alt="Empty Star">
                </div>
                <p>Price: $50</p>
                <p>Recommendations: 10</p>
            </div>
        </div>


        <div class="post">
            <img src="https://via.placeholder.com/150" alt="Post Image">
            <div class="post-content">
                <h2>Post 3</h2>
                <p>Description for post 1...</p>
                <div class="post-description">
                    <img class="stars" src="../img/community/star-solid.svg" alt="Full Star">
                    <img class="stars" src="../img/community/star-solid.svg" alt="Full Star">
                    <img class="stars" src="../img/community/star-solid.svg" alt="Half Star">
                    <img class="stars" src="../img/community/star-regular.svg" alt="Empty Star">
                    <img class="stars" src="../img/community/star-regular.svg" alt="Empty Star">
                </div>
                <p>Price: $50</p>
                <p>Recommendations: 10</p>
            </div>
        </div>


        <div class="post">
            <img src="https://via.placeholder.com/150" alt="Post Image">
            <div class="post-content">
                <h2>Post 4</h2>
                <p>Description for post 1...</p>
                <div class="post-description">
                    <img class="stars" src="../img/community/star-solid.svg" alt="Full Star">
                    <img class="stars" src="../img/community/star-solid.svg" alt="Full Star">
                    <img class="stars" src="../img/community/star-solid.svg" alt="Half Star">
                    <img class="stars" src="../img/community/star-regular.svg" alt="Empty Star">
                    <img class="stars" src="../img/community/star-regular.svg" alt="Empty Star">
                </div>
                <p>Price: $50</p>
                <p>Recommendations: 10</p>
            </div>
        </div>


        <div class="post">
            <img src="https://via.placeholder.com/150" alt="Post Image">
            <div class="post-content">
                <h2>Post 5</h2>
                <p>Description for post 1...</p>
                <div class="post-description">
                    <img class="stars" src="../img/community/star-solid.svg" alt="Full Star">
                    <img class="stars" src="../img/community/star-solid.svg" alt="Full Star">
                    <img class="stars" src="../img/community/star-solid.svg" alt="Half Star">
                    <img class="stars" src="../img/community/star-regular.svg" alt="Empty Star">
                    <img class="stars" src="../img/community/star-regular.svg" alt="Empty Star">
                </div>
                <p>Price: $50</p>
                <p>Recommendations: 10</p>
            </div>
        </div>

        <div class="post">
            <img src="https://via.placeholder.com/150" alt="Post Image">
            <div class="post-content">
                <h2>Post 6</h2>
                <p>Description for post 1...</p>
                <div class="post-description">
                    <img class="stars" src="../img/community/star-solid.svg" alt="Full Star">
                    <img class="stars" src="../img/community/star-solid.svg" alt="Full Star">
                    <img class="stars" src="../img/community/star-solid.svg" alt="Half Star">
                    <img class="stars" src="../img/community/star-regular.svg" alt="Empty Star">
                    <img class="stars" src="../img/community/star-regular.svg" alt="Empty Star">
                </div>
                <p>Price: $50</p>
                <p>Recommendations: 10</p>
            </div>
        </div>
        <!-- Repeat for other posts -->
    </div>
    <div id="rightControl" class="slide-control">>></div>
</section>
</body>
</html>